Karmasta Music Store/karmastaMusic2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!--
    Author: Labbi Karmacharya
    Date  : 29 April 2021
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="StoreLogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="img">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:string" use="required" />
                <xs:attribute name="src" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CoverArt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="img">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="class" type="xs:string" use="required" />
                <xs:attribute name="src" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>